<ion-card>
    <ion-card-content>
        <div class="name">
            Sourabh Debnath
        </div>
        <div class="address">
            01, Second floor, Sri Sai Nilaya, #208, 9th main, 1st cross
            Manjunatha Layout, Munnekolala, Marathahalli
            Bengaluru, Karnataka - 560037
            India
        </div>
        <div class="phone">
            Phone number: 9538155659
        </div>
        <div text-right>
            <ion-button fill="outline" size="small" color="blue">EDIT</ion-button>
            <ion-button fill="outline" size="small" color="danger">DELETE</ion-button>
        </div>
    </ion-card-content>
</ion-card>