<ion-item class="order-item">
    <div>
        <ion-text color="blue">
            <h4>Order #1</h4>
        </ion-text>

        <div class="buyer-address">
            <div class="address">
                <b>Sourabh Debnath</b><br />
                #502, Vars Crystal, 8th Cross,
                Pai Layout, Bangalore - 560016
            </div>
            <div class="navigate-icon">
                <ion-button color="blue" fill="clear">
                    <ion-icon slot="icon-only" name="navigate"></ion-icon>
                </ion-button>
            </div>
        </div>
        <div class="items-bill">
            <h4>Order Details</h4>
            <div class="bill-item">
                <div>Normal &nbsp; x &nbsp; 1</div>
                <div class="item-total">₹ 40</div>
            </div>
            <div class="bill-item">
                <div>Bislery &nbsp; x &nbsp; 2</div>
                <div class="item-total">₹ 80</div>
            </div>
            <hr class="divider" />
            <div class="bill-item">
                <div>Item Total</div>
                <div class="item-total">₹ 120</div>
            </div>
            <div class="bill-item">
                <div class="conv-fee">
                    Convenience Fee <ion-icon name="information-circle-outline"></ion-icon>
                </div>
                <div class="item-total">₹ 1</div>
            </div>
            <div class="bill-item">
                <div class="pay-total">To Collect</div>
                <div class="item-total">₹ 121</div>
            </div>
        </div>
        <div class="pay-method">
            <h4>Payment Method</h4>
            <div class="bill-item">Requested PayTM</div>
        </div>
        <div class="action-btns" text-right>
            <ion-button fill="outline" size="small" color="blue">MARK DELIVERED</ion-button>
            <ion-button fill="outline" size="small" color="danger">CANCEL ORDER</ion-button>
        </div>
    </div>
</ion-item>