<ion-card>
    <div class="custom-item">
        <div>Normal &nbsp; x &nbsp; 1</div>
        <div class="item-total">₹ 40</div>
    </div>
    <div class="custom-item">
        <div>Bislery &nbsp; x &nbsp; 2</div>
        <div class="item-total">₹ 80</div>
    </div>
    <hr class="divider" />
    <div class="custom-item">
        <div>Item Total</div>
        <div class="item-total">₹ 120</div>
    </div>
    <div class="custom-item">
        <div class="conv-fee">
            Convenience Fee <ion-icon name="information-circle-outline"></ion-icon>
        </div>
        <div class="item-total">₹ 1</div>
    </div>
    <div class="custom-item">
        <div class="pay-total">To Pay</div>
        <div class="item-total">₹ 121</div>
    </div>
</ion-card>