<ion-card class="sel-pay-method">
    <ion-card-header>
        <ion-card-title>Select Payment Method</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list class="pay-methods">
            <ion-radio-group>
                <ion-item>
                    <ion-label>Cash On Delivery</ion-label>
                    <ion-radio value="cod"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label class="req-paytm">
                        Request PayTm <ion-icon name="information-circle-outline"></ion-icon>
                    </ion-label>
                    <ion-radio value="paytm"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        <div class="pay-note">We will be adding more payment methods soon.</div>
    </ion-card-content>
</ion-card>