<ion-menu side="start" [contentId]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <i> Hola Amigo <ion-icon name="hand"></ion-icon> ! </i>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu">
    <ion-list>
      <ion-item>
        <ion-label>Profile</ion-label>
        <ion-icon name="happy" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Contact Us</ion-label>
        <ion-icon name="contacts" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Settings</ion-label>
        <ion-icon name="cog" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Seller Login</ion-label>
        <ion-icon name="log-in" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>