<ion-item (click)="itemClick()">
    <img class="shop-image" src="https://upload.wikimedia.org/wikipedia/en/5/54/Shop_Small_Logo_2015.jpg"
        alt="Shop Image" />
    <ion-card-header>
        <ion-card-subtitle>Manjunatha Layout, Munnekolala</ion-card-subtitle>
        <ion-card-title>The Water Shop</ion-card-title>
        <div class="shop-extra">
            <span class="shop-rating">
                <ion-icon name="star"></ion-icon>
                <span>4</span>
            </span>
            2.4 km
            <span class="shop-duration"> 6 min </span>
        </div>
    </ion-card-header>
</ion-item>